html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit:cover;
  object-position: 0 30%;
}

#formFile::before {
  content: "Photos";
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #eee;
  width: 90px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #1ed760;
}
/*primary button color */
.btn_pri {
  background: #1ed760;
}
.btn_pri:hover{
  background: #51f089;
}

/*secondary button color */
.btn_sec {
    background: #f08804;
}
.btn_sec:hover {
    background: #f8ac4a;
}
.center-block {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------Loading ---------------------- */
@import url("./loading.css");

/* --------------------product ----------------------- */
@import url('./product.css');

/* --------------------profile ----------------------- */
@import url('./profile.css');

/* --------------------product manager ----------------------- */
@import url('./products_manager.css');

/* -------------------- homepage ----------------------- */
@import url('./homePage.css');

/* -------------------- filter  ----------------------- */
@import url("./filter.css");